body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

h1 {
    margin: 20px 0;
    color: white;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background: #333;
    color: rgb(110, 110, 110);
    border: none;
    cursor: pointer;
}

button:hover {
    background: white;
}

.card {
    background: #222;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.price {
    margin-top: 10px;
    color: white;
    font-size: 18px;    
}